# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [ ]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [ ]:
# Write your code here

pop = pd.read_csv("/Users/pradyumreddygade/AI ML Course Projects/Lectures/population_by_county.csv")

pop

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [ ]:
# Write your code here

print(pop.head())
print("---")
print(pop.head(8))

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
---
             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [ ]:
# Write your code here

pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [ ]:
# Write your code here

pop["State"].nunique()

51

#### 5. Get a list or array of all the states in the data set.

In [ ]:
# Write your code here

pop["State"].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [ ]:
# Write your code here

pop["County"].value_counts().head(5)

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [ ]:
# Write your code here

df2 = pop.sort_values(by= "2010Census" , ascending = False).reset_index(drop = True) 

df2[["County" , "2010Census"]].head(5)

               County  2010Census
0  Los Angeles County     9818605
1         Cook County     5194675
2       Harris County     4092459
3     Maricopa County     3817117
4    San Diego County     3095313

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [ ]:
# Write your code here

State_pop = pop.groupby("State")["2010Census"].sum()

output = State_pop.sort_values(ascending=False).head(5)

print(output)

State
California    37253956
Texas         25145561
New York      19378102
Florida       18801310
Illinois      12830632
Name: 2010Census, dtype: int64

#### 9. How many Counties have 2010 populations greater than 1 million?

In [ ]:
# Write your code here

df4 = pop[(pop["2010Census"] > 1000000)]

df4["County"].nunique()

38

#### 10. How many Counties don't have the word "County" in their name?

In [ ]:
# Write your code here

s = pop["County"].str.contains("County")

df5 = pop[~s]

df5["County"].nunique()

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [ ]:
# Write your code here

pop["Percent_Change"] = round(((pop["2017PopEstimate"] - pop["2010Census"])/(pop["2010Census"]))*100 ,2)

pop

,County,State,2010Census,2017PopEstimate,Percent_Change
0,Abbeville County,South Carolina,25417,24722,-2.73
1,Acadia Parish,Louisiana,61773,62590,1.32
2,Accomack County,Virginia,33164,32545,-1.87
3,Ada County,Idaho,392365,456849,16.43
4,Adair County,Iowa,7682,7054,-8.17
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,6.02
3138,Yuma County,Colorado,10043,10075,0.32
3139,Zapata County,Texas,14018,14322,2.17
3140,Zavala County,Texas,11677,11948,2.32
3141,Ziebach County,South Dakota,2801,2756,-1.61

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [ ]:
# Write your code here

# State pop for 2010
State_pop_2010 = pop.groupby("State")["2010Census"].sum()

# State pop for 2017
State_pop_2017 = pop.groupby("State")["2017PopEstimate"].sum()

#Merging 2 based on Statename
merged = pd.merge(State_pop_2010 , State_pop_2017 , on = "State" , how="inner")

#Calculating the Percent Change
merged["Percent_Change"] = round(((merged["2017PopEstimate"] - merged["2010Census"])/(merged["2010Census"]))*100 ,2)

# Retreiving the data in descending order of percent change

merged.sort_values(by="Percent_Change" , ascending=False)

                      2010Census  2017PopEstimate  Percent_Change
State
District of Columbia      601723           693972           15.33
Texas                   25145561         28304596           12.56
North Dakota              672591           755393           12.31
Utah                     2763885          3101833           12.23
Florida                 18801310         20984400           11.61
Colorado                 5029196          5607154           11.49
Nevada                   2700551          2998039           11.02
Washington               6724540          7405743           10.13
Arizona                  6392017          7016270            9.77
Idaho                    1567582          1716943            9.53
South Carolina           4625364          5024369            8.63
Oregon                   3831074          4142776            8.14
North Carolina           9535483         10273419            7.74
Georgia                  9687653         10429379            7.66
Delaware                  897934           961939            7.13
South Dakota              814180           869666            6.81
Montana                   989415          1050493            6.17
California              37253956         39536653            6.13
Virginia                 8001024          8470020            5.86
Tennessee                6346105          6715984            5.83
Minnesota                5303925          5576606            5.14
Nebraska                 1826341          1920076            5.13
Hawaii                   1360301          1427538            4.94
Maryland                 5773552          6052177            4.83
Oklahoma                 3751351          3930864            4.79
Massachusetts            6547629          6859819            4.77
Alaska                    710231           739795            4.16
Louisiana                4533372          4684333            3.33
Iowa                     3046355          3145711            3.26
Arkansas                 2915918          3004279            3.03
Indiana                  6483802          6666818            2.82
Wyoming                   563626           579315            2.78
Kentucky                 4339367          4454189            2.65
New Jersey               8791894          9005644            2.43
New York                19378102         19849399            2.43
Kansas                   2853118          2913123            2.10
Missouri                 5988927          6113532            2.08
New Hampshire            1316470          1342795            2.00
Alabama                  4779736          4874747            1.99
Wisconsin                5686986          5795483            1.91
New Mexico               2059179          2088070            1.40
Ohio                    11536504         11658609            1.06
Pennsylvania            12702379         12805537            0.81
Michigan                 9883640          9962311            0.80
Rhode Island             1052567          1059639            0.67
Mississippi              2967297          2984100            0.57
Maine                    1328361          1335907            0.57
Connecticut              3574097          3588184            0.39
Illinois                12830632         12802023           -0.22
Vermont                   625741           623657           -0.33
West Virginia            1852994          1815857           -2.00